/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

:root {
  /* --background: #000000; */
  --background: hsl(245, 100%, 5%);
  /* --background: #02020E; */
  --top-bottom-color: hsl(222, 100%, 5%);
  /* --bottom-bar-color: rgba(8, 7, 28, 0.4); */
  --bottom-bar-color: hsla(222, 100%, 5%, 0.3);
  --bottom-bar-color-reg: hsla(222, 100%, 5%, 0.7);
  --top-bottom-color-light: hsla(222, 100%, 15%, 0.3);
  --top-bottom-color-light-reg: hsla(222, 100%, 15%, 0.7);
  /* --top-bottom-color-light: rgba(32, 31, 50, 0.6); */
  /* --background: #08071C;
  --bottom-bar-color: #02020E; */
  --cta-blue: rgb(0,161,222);
  --cta-blue-opacity: rgba(0,161,222,0.17);
  --cta-red: rgb(198,12,48);
  --cta-red-opacity: rgba(198,12,48,0.17);
  --cta-brown: rgb(98,54,27);
  --cta-brown-opacity: rgba(98,54,27,0.17);
  --cta-green: rgb(0,155,58);
  --cta-green-opacity: rgba(0,155,58,0.17);
  --cta-orange: rgb(249,70,28);
  --cta-orange-opacity: rgba(249,70,28,0.17);
  --cta-purple: rgb(82,35,152);
  --cta-purple-opacity: rgba(82,35,152,0.17);
  --cta-pink: rgb(226,126,166);
  --cta-pink-opacity: rgba(226,126,166,0.17);
  --cta-yellow: rgb(249,227,0);
  --cta-yellow-opacity: rgba(249,227,0,0.17);
  --cta-grey: rgb(86,90,92);
  --cta-grey-opacity: rgba(86,90,92,0.17);
}

* {
  box-sizing: border-box;
}

html {
  color: #FFFFFF;
  background-color: var(--background);
  /* background: linear-gradient(135deg,var(--background),#000000); */
  font-family: -apple-system, ".SFNSText-Regular", Helvetica, sans-serif;
  font-size: 1.125em;
  line-height: 1.2em;
  min-height: 100%;
  height: 100%;
}

body {
  height: 100%;
  /* padding: 16px; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 56px 1fr;
  grid-column-gap: 16px;
  grid-template-areas: "top-bar top-bar top-bar top-bar"
                       "content content content content"; */
}

router-outlet {
  position: absolute;
}

app-favorites,
app-routes,
app-directions,
app-stops,
app-arrivals {
  padding: 16px;
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cols-1 {
  grid-column: 1;
}

.cols-2 {
  grid-column: 1 / 3;
}

.cols-3 {
  grid-column: 1 / 4;
}

.cols-4 {
  grid-column: 1 / 5;
}